@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="title">
    <h1 class="display-4">Welcome to my App</h1>
</div>
<div id ="fakebod" class="text-center">
    <ul>
        <li>
            <div class="front-card card" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="unavailable">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </li>
        <li>
            <div class="front-card card" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="unavailable">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </li>
        <li>
            <div class="front-card card" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="unavailable">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </li>
    </ul>
    <a class="btn btn-outline-primary" role="button" asp-page="/Notes/Index">Notes</a>
</div>
@section scripts{
<script>
    $(document).ready(function() {
        $("body").css("background-color", "white")
    })
</script>
}
