@page
@model NotesIndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="title">
    <h1 class="display-4">Note Cards</h1>
    <p>@Model.TempData["Failure"]</p>
</div>

<div id="notes-container" data-toggle="modal" data-target="#exampleModalCenter">
      @if(Model.Notes != null && Model.Notes.Count() > 0)
      {
        @foreach(var item in Model.Notes)
        {
          <p>@Html.DisplayFor(m=>item.Title) ==> @Html.DisplayFor(m=>item.Description)</p>
        }
      }
    <button type="button" class="btn btn-success">New +</button>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="post">
        <div class="modal-body">
            <h4>Title</h4>
            <input asp-for="Note.Title" name="title" type="text" required="true">
            <h4>Description</h4>
            <input asp-for="Note.Description" name="description" type="text">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <input type="submit" class="btn btn-primary" value="Save changes">
        </div>
      </form>
    </div>
  </div>
</div>

</div>
@section scripts{
<script>
  $(document).ready(function(){
    var state = '@Model.TempData["Failure"]';
    if(state == "true"){
      bootoast.toast({
        message: 'This is a danger toast message',
	      type: 'danger',
        position:'top-right',
      });
    }
    else if(state == "false"){

    }
  })
</script>
}
